{% extends "base_generic.html" %}

{% block content %}
<div>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-4">
					<h2 class="heading-section">Employees List</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 class="h5 mb-4 text-center">All Employees</h3>
					{% if employee_list %}
					<div class="table-wrap">
						<table class="table">
							<thead class="thead-primary">
								<tr>
									<th>&nbsp;</th>
									<th>&nbsp;</th>
									<th>Name</th>
									<th>Department</th>
									<th>Position</th>
									<th>Email</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
							{% for employee in employee_list %}
							<tr class="alert" role="alert">
								<td>
									<label class="checkbox-wrap checkbox-primary">
										<input type="checkbox" checked>
										<span class="checkmark"></span>
									</label>
								</td>
								<td>
									<!-- div class="img" style="background-image: url({{ employee.image_url }});"></div -->
								</td>
								<td>{{ employee.get_full_name }}</td>
								<td>{{ employee.department }}</td>
								<td>{{ employee.position }}</td>
								<td>{{ employee.personal_email }}</td>
								<td>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="fa fa-close"></i></span>
									</button>
								</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
					{% else %}
					<p>There are no working employees.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}